<%- include('header'); %>
<div class="container">
    <%- include('summary',{account: accounts.savings}); %>
    <%- include('summary',{account: accounts.checking}); %>
    <%- include('summary',{account: accounts.credit}); %>
    <h1><%= title%></h1>
    <a href="/profile">Profile</a>
    <br>
    <a href="/services/transfer">Transfer</a>
</div>
<%- include('footer'); %>